<div>
  <h1>Registrar Usuario</h1>
  <form action="http://localhost:8080/login/registrar" method="POST">
    email:<input name="email" type="email" placeholder="E-mail"/> <br>
    password:<input name="password" type="password" placeholder="password"/>

    <button type="submit">Registrar</button>
  </form>
</div>

<div>
  <h1>Login usuario</h1>
  <form action="http://localhost:8080/login/login" method="POST">
    email:<input name="email" type="email" placeholder="E-mail"/> <br>
    password:<input name="password" type="password" placeholder="password"/>

    <button type="submit">Login</button>
  </form>
</div>

{{!-- <div style="border:4px solid black;">
  <h2>Usuarios registrados en DB:</h2>
  <hr>
  <div id="loginRealTime">
  </div>
</div> --}}


