<div>
  <h1>Registrar Usuario</h1>
  <form action="http://localhost:8080/session/registro" method="POST">
    email:<input name="email" type="email" placeholder="E-mail" /> <br>
    password:<input name="password" type="password" placeholder="password" /><br>

    <button type="submit">Registrar</button>
  </form><br>
</div>

<div>
  <h1>Login usuario</h1>
  <form action="http://localhost:8080/session/login" method="POST">
    email:<input name="email" type="email" placeholder="E-mail" /> <br>
    password:<input name="password" type="password" placeholder="password" /><br>

    <button type="submit">Login</button>
  </form><br>
</div>